body{
  font-family: montserrat;
}

.button{
  background-color: #2ecc71;
  font-size: 100%;
  border: 0px;
  color: white;
  font-family: montserrat;
  width: 20%;
  height: 5%;
}

.button:hover{
  background-color: #27ae60;
  font-size: 100%;
  border: 0px;
  color: white;
  font-family: montserrat;
  width: 20%;
  height: 5%;
}