.data {
  font-family: arial;
}

.input {
    width: 50;

}

.button {
  display: block;
  font-family: arial;
}

.xButtons {
  position: absolute;
  top:0px;
  border:1px solid;
  padding:10px;
  font-family: arial;
}
.yButtons {
  position: absolute;
  top:150px;
  border:1px solid;
  padding:10px;
  font-family: arial;
}


.genBox {
  position: absolute;
  top:10px;
  border:1px solid;
  width: 30%;
  height: 20%;
}

.genBoxEdit {
  position: absolute;
  top:10px;
  border:1px solid;
  width: 30%;
  height: 20%;
  text-align: left;
}
