<html>
  <head>
    <title>BOM</title>
    
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'bom.css') }}">
    
    
    
  </head>
  <body>
    <center>
      
      <form action="" method=post enctype=multipart/form-data>
          <p><input type=file name=file>
             <input class="button" type=submit value=Upload>
        </form>
      
      
    </center>
  </body>
</html>
