<html>
	<head>
		<title>RAVI</title>
		<link rel="icon" href="http://ravi.dk/onewebstatic/368cade015-Ravi-Electronics_logo_blaa.png"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'index.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="{{ url_for('static', filename = 'index.js') }}"></script>

	</head>
	<body>
		<center>
			<button id="add">Add cell</button>
			<div id="table">
				<table border="1" cellpadding="5" cellspacing="5">
					<tr>
						{% for row in headers %}
						<th>{{ row }}</th>
						{% endfor %}
					</tr>
					{% for row in body %}
					<tr>
						{% for rowrow in row %}
						{# Rowrow, row your boat. #}
						<td class="data">{{ rowrow }}</td>
						{% endfor %}
					</tr>
					{% endfor %}
					</tr>
					{% for row in body %}
					{% set y = loop.index0%}
					<tr id="Row_{{loop.index0}}">
						{% for rowrow in row %}
						<td class="data" id="Cell_{{loop.index0}}_{{y}}">{{ rowrow }}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</table>
		</center>
		<body>
</html>
