<html>
	<head>
		<title>RAVI</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'index.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="{{ url_for('static', filename = 'index.js') }}"></script>
	</head>
	<body>
		<center>
			<table border="1" cellpadding="5" cellspacing="5">
				<tr>
					{% for row in headers %}
					<th>{{ row }}</th>
					{% endfor %}
				</tr>
				{% for row in body %}
				<tr>
					{% for rowrow in row %}
					{# Rowrow, row your boat. #}
					<td class="data">{{ rowrow }}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</table>
		</center>
		<body>
</html>
